<section class="" style="padding-top: 150px;">
    <div class="container">
        <div class="position-fixed w-25 d-none" id="success"
            style="left:530px; background-color: black; border-radius:10px; z-index:2000;">
            <p id="success-text" class="text-center mt-3" style="color: white;">Product Added to Cart</p>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <!-- PRODUCT SLIDER-->
                <div class="row m-sm-0">
                    <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0 px-xl-2">
                        <div class="swiper product-slider-thumbs">
                            <div class="swiper-wrapper d-md-none d-lg-block">
                                <div class=" h-auto mb-3">
                                    <button class="border-0" onclick="changeImage('img0')">
                                        <img class="w-100" id="img0" src="{{products.images.[0]}}" alt="...">
                                    </button>
                                </div>
                                <div class=" h-auto mb-3">
                                    <button class="border-0" onclick="changeImage('img1')">
                                        <img class="w-100" id="img1" src="{{products.images.[1]}}" alt="...">
                                    </button>
                                </div>
                                <div class=" h-auto mb-3">
                                    <button class="border-0" onclick="changeImage('img2')">
                                        <img class="w-100" id="img2" src="{{products.images.[2]}}" alt="...">
                                    </button>
                                </div>
                                <div class=" h-auto mb-3" 3>
                                    <button class="border-0" onclick="changeImage('img3')">
                                        <img class="w-100" id="img3" src="{{products.images.[3]}}" alt="...">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 order-1 order-sm-2">
                        {{!-- <div class="swiper product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide h-auto"><a class="glightbox product-view"
                                        href="img/product-detail-1.jpg" data-gallery="gallery2"
                                        data-glightbox="Product item 1"><img class="img-fluid"
                                            src="{{products.images.[0]}}" alt="..."></a></div>
                                <div class="swiper-slide h-auto"><a class="glightbox product-view"
                                        href="img/product-detail-2.jpg" data-gallery="gallery2"
                                        data-glightbox="Product item 2"><img class="img-fluid"
                                            src="img/product-detail-2.jpg" alt="..."></a></div>
                                <div class="swiper-slide h-auto"><a class="glightbox product-view"
                                        href="img/product-detail-3.jpg" data-gallery="gallery2"
                                        data-glightbox="Product item 3"><img class="img-fluid"
                                            src="img/product-detail-3.jpg" alt="..."></a></div>
                                <div class="swiper-slide h-auto"><a class="glightbox product-view"
                                        href="img/product-detail-4.jpg" data-gallery="gallery2"
                                        data-glightbox="Product item 4"><img class="img-fluid"
                                            src="img/product-detail-4.jpg" alt="..."></a></div>
                            </div>
                        </div> --}}
                        <div id="img-container">
                            <img class="w-100" id="image" src="{{products.images.[0]}}" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT DETAILS-->
            <div class="col-lg-6">
                <h1>{{products.product_name}}</h1>
                {{#ifNE products.offerPrice products.price}}
                <p class="text-muted lead d-inline">₹<del>{{products.price}}</del></p>
                {{#ifGT products.categoryOffer products.productOffer}}
                <span class="ms-3" style="color: green;">({{products.categoryOffer}}% Offer)</span>
                {{else}}
                <span class="ms-3" style="color: green;">({{products.categoryOffer}}% Offer)</span>
                {{/ifGT}}

                <p class="text-muted lead"><b>₹{{products.offerPrice}}</b></p>
                {{else}}
                <p class="text-muted lead"><b>₹{{products.offerPrice}}</b></p>
                {{/ifNE}}
                <p class="text-sm mb-4">{{products.description}}</p>
                <div class="row align-items-stretch mb-4">
                    <div class="col-sm-3 pl-sm-0">
                        <a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                            onclick="addToCart('{{products._id}}')">Add to cart</a>
                    </div>
                </div>
                <a class="text-dark p-0 mb-4 d-inline-block" style="cursor: pointer;"
                    onclick="addToWishlist('{{products._id}}')">
                    <i class="far fa-heart me-2"></i>Add to wish list
                </a>
                <br>
                <ul class="list-unstyled small d-inline-block">

                    <li class="px-3 py-2 mb-1 bg-white text-muted"><strong
                            class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ms-2"
                            href="/search?search={{products.category}}">{{products.category}}</a></li>

                </ul>
            </div>
        </div>
        <!-- DETAILS TABS-->


        <!-- RELATED PRODUCTS-->
        <h2 class="h5 text-uppercase mb-4">Related products</h2>
        <div class="row">
            <!-- PRODUCT-->
            {{#each suggesstions}}
            <div class="col-lg-3 col-sm-6">
                <div class="product text-center skel-loader">
                    <div class="d-block mb-3 position-relative">
                        <a class="d-block" href="/product-view/{{this._id}}">
                            <img class="img-fluid w-100" src="{{this.images.[0]}}" alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark"
                                        onclick="addToWishlist('{{this._id}}')"><i class="far fa-heart"></i></a>
                                </li>
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                        onclick="addToCart('{{this._id}}')">Add to
                                        cart</a></li>
                                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                                        href="/product-view/{{this._id}}" data-bs-toggle="modal"><i
                                            class="fas fa-expand"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h6> <a class="reset-anchor" href="/product-view/{{this._id}}">{{this.product_name}}</a></h6>
                    <p class="small text-muted">₹{{this.offerPrice}}</p>
                </div>
            </div>
            {{/each}}
            <!-- PRODUCT-->
        </div>
    </div>
</section>